body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.twitter-box {
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.title-date {
    display: flex;
    flex-direction: column;
}

.header h1 {
    font-size: 20px;
    color: #000000;
    margin: 0;
}

.date {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.match-info {
    text-align: center;
    margin-bottom: 20px;
}

.teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.team {
    display: flex;
    align-items: center;
}

.team.left {
    margin-right: auto;
}

.team.right {
    margin-left: auto;
}

.score-container {
    display: flex;
    align-items: center;
    position: relative;
}

.flag {
    width: 48px
}