.twitter-box {
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.title-date {
    display: flex;
    flex-direction: column;
}

.header h1 {
    font-size: 20px;
    color: #000000;
    margin: 0;
}

.date {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.match-info {
    text-align: center;
    margin-bottom: 20px;
}

.teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.team {
    display: flex;
    align-items: center;
}

.team.left {
    margin-right: auto;
}

.team.right {
    margin-left: auto;
}

.score-container {
    display: flex;
    align-items: center;
    position: relative;
}

.flag {
    width: 48px;
    height: 48px;
    position: absolute;
}

.left-flag {
    left: -100px; /* Ajuste la distancia a la mitad */
}

.right-flag {
    right: -40px; /* Ajuste la distancia a la mitad */
}

.score {
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

th, td {
    padding: 6px;
    border-bottom: 1px solid #e1e8ed; /* División entre filas */
}

th {
    background-color: #f0f0f0;
    color: #000000;
    font-weight: bold;
}

td.last-bold {
    font-weight: bold;
    text-align: center; /* Centrar el texto */
    
}

td {
    background-color: #ffffff;
    color: #000000;
   
}

th:last-child, td:last-child {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
    font-weight: bold;
}
